body{
    background-color: black; 
    color: white; 
    font-family: sans-serif;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input:required {
    border: 1px solid #e74c3c;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
  

#message-box {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
#copy-link {
    background-color: #007bff; /* Button color, you can change this */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
#copy-link:hover {
    background-color: #0056b3; /* Button hover color, you can change this */
}

#message {
    color: #ffffff;
    margin-bottom: 20px;
}
  